.form {
  max-width: 320px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #000;
}

.form__input {
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  margin: 8px 0 20px;
  border: 1px solid #838383;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

input::placeholder {
  color: #838383;
}

.form__button {
  padding: 15px 0;
  width: 100%;
  border-radius: 4px;
  background-color: #1878dc;
  color: #fff;
  border: none;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 28px;
  line-height: 20px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__invisible-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  margin-right: 12px;
}

.form__visible-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid #2f80ed;
  border-radius: 2px;
  align-self: center;
}

.form__invisible-checkbox:checked + .form__visible-checkbox {
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  font-size: 20px;
}
