.header {
  background: center / cover no-repeat /* rgba(231, 194, 147, 0.8) */
    url(../images/mt-rainier-mountain.jpg);
  display: flex;
  flex-direction: column;
  height: 800px;
  min-height: 720px;
  padding: 30px 80px 40px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(to bottom, transparent, #9b9271);
  pointer-events: none;
}

.header__title {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  max-width: 729px;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff,
    0px 2px 0 #fff,
    2px 0px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff;
}

.header__span-accent {
  display: block;
  font-family: "Shadows Into Light Two", cursive;
  font-style: italic;
  color: #3f96f3;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff,
    0px 2px 0 #fff,
    2px 0px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff;
}

.header__description {
  /* font-family: "noto serif", "times new roman", serif; */
  font-size: 28px;
  line-height: 30px;
  margin: 28px 0 0;
  max-width: 683px;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    0px 1px 0 #fff,
    1px 0px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff;
}

/* .header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
} */

.header__footer {
  margin-top: auto;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #000;
  font-family: "Shadows Into Light Two", cursive;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    0px 1px 0 #fff,
    1px 0px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff;
}
