.menu {
  background: #9b9271 url(../images/background_menu.svg) no-repeat center/cover;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Shadows Into Light Two", cursive;
  position: relative;
}

.menu__title {
  margin: 0 0 24px;
  max-width: 780px;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff,
    0px 2px 0 #fff,
    2px 0px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff;
}

.menu__subtitle {
  margin: 0 0 100px;
  max-width: 780px;
  text-align: center;
  font-size: 28px;
  line-height: 30px;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff,
    0px 2px 0 #fff,
    2px 0px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff;
}

.menu__subtitle.fade-in-up-scroll {
  animation: fadeInUp 1s ease-out;
  margin-bottom: 50px;
}

.menu__daily-special {
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px dashed #6f6949;
  /* border-radius: 25px; */
  padding: 15px 30px;
  margin: 0 0 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.menu__daily-special-text {
  margin: 0;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #2f2f2f;
}

.menu__daily-special-drink {
  font-weight: bold;
  color: #6f6949;
}

.menu__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
