.menu {
  background: #fff url(../images/background_menu.svg) no-repeat center/cover;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  margin: 0 0 24px;
  max-width: 780px;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff,
    0px 2px 0 #fff,
    2px 0px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff;
}

.menu__subtitle {
  margin: 0 0 100px;
  max-width: 780px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff,
    0px 2px 0 #fff,
    2px 0px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff;
}

.menu__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
