.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    0px 1px 0 #fff,
    1px 0px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 500;
  transition: opacity 0.5s;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 0.5;
}
