.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background: center / cover no-repeat #fff url(../images/background_header.svg);
  display: flex;
  flex-direction: column;
  height: 800px;
  min-height: 720px;
  padding: 30px 80px 40px;
  position: relative;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  max-width: 729px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #3f96f3;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.recipes {
  background: #0a2750 url(../images/background_recipes.svg) no-repeat
    center/cover;
  color: #fff;
  padding: 100px 80px 215px;
  font-family: "Inter", Arial, sans-serif;
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px;
}

.recipes__videos {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}

.reservation {
  background: #d9e7ff url(../images/background_reservation.svg) no-repeat
    center/cover;
  padding: 100px 0 120px;
  font-family: "Inter", Arial, sans-serif;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input {
  display: block;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 4px;
  width: 100%;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

input::placeholder {
  color: #838383;
}

.form__button {
  padding: 20px 0;
  width: 100%;
  border-radius: 4px;
  background-color: #1878dc;
  color: #fff;
  border: none;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.1s linear;
}

.form__button:hover {
  background-color: #3f96f3;
}

.invisible-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.visible-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #2f80ed;
  border-radius: 2px;
}

.invisible-checkbox:checked + .visible-checkbox {
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
